---
layout: default
title: "Algorithmic Assertions - Craig Gidney's Computer Science Blog"
---

<div id="home">
  <h1 class="posts_list_title" style="margin-bottom: 5px;">
    Tools
  </h1>

  <ul class="posts">
    <li><table><col width="50px" /><tr><td>
        <span>2016</span> &raquo;</td><td>
        <a href="/quirk"><strong>Quirk</strong>: A Quantum Circuit Toy</a>
    </td></tr></table></li>
  </ul>

  <h1 class="posts_list_title">
    Posts
    <a href="/feed.xml">
      <img src="/assets/feed-icon.png" width="18px" alt="Posts Feed" title="Posts Feed" style="vertical-align: -0.1em;"/>
    </a>
  </h1>

  <ul class="posts">
    {% assign prevYear = 'now' | date: "%Y" %}
    {% for post in site.posts %}
      {% if post.url == "/post/1702__renable_me_in_the_future_maybe" %}
        <h2>Classical Google</h2>
      {% endif %}

      {% assign curYear = post.date | date: "%Y" %}
      {% if curYear != prevYear %}
        <h2>{{ curYear }}</h2>
      {% endif %}

      {% assign prevYear = curYear %}
      <li><table><col width="96px" /><tr><td><span>{{ post.date | date_to_string }}</span> &raquo;</td><td><a href="{{ post.url }}">
        {% if post.highlight_in_list %}<strong>{% endif %}{{ post.title }}{% if post.highlight_in_list %}</strong>{% endif %}
      </a></td></tr></table></li>
    {% endfor %}

    <h2>Twisted Oak Studios</h2>

    <!-- posts on TO blog -->

        <li><table><col width="96px" /><tr><td>
          <span>19 Feb 2014</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post8887_what-quantum-computers-do-faster-with-caveats">
            What Quantum Computers Do Faster, with Caveats<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>09 Feb 2014</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post8840_naming-things-fail-useful">
            Naming Things: Fail-Useful<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>29 Jan 2014</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post8766_detecting-simple-cycles-forming-faster">
            Detecting Simple Cycles Forming, Faster<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>22 Jan 2014</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post8692_third-party-bit-commitment">
            Third Party Bit Commitment<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>10 Jan 2014</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post8623_angular-velocity-is-simple">
            Angular Velocity is Simple<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <h2>2013</h2>

        <li><table><col width="96px" /><tr><td>
          <span>31 Dec 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post8565_collection-equality-is-hard">
            Collection Equality is Hard<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>22 Dec 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post8424_deadlocks-in-practice-dont-hold-locks-while-notifying">
            <strong>
              Deadlocks in Practice: Don&#8217;t Hold Locks While Notifying<img src="/assets/wikimedia_external_link.png"/>
            </strong>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>17 Dec 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post8355_brute-force-parallelization">
            Brute Force Parallelization<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>11 Dec 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post8237_a-years-worth-of-opinions-about-objective-c">
            A Year&#8217;s Worth of Opinions about Objective-C<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>03 Dec 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post8147_referencing-substrings-faster-without-leaking-memory">
            Referencing Substrings Faster, without Leaking Memory<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>26 Nov 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post8000_not-crying-over-old-code">
            Not Crying Over Old Code<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>19 Nov 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post7878_exploring-universal-ternary-gates">
            Exploring Universal Ternary Gates<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>12 Nov 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post7748_impractical-experiments-2-securing-peer-to-peer-fog-of-war-against-map-hacks">
            Impractical Experiments #2: Securing Peer to Peer Fog of War against Map Hacks<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>05 Nov 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post7694_achieving-exponential-slowdown-by-enumerating-twice">
            Achieving Exponential Slowdown by Enumerating Twice<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>29 Oct 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post7525_using-immortality-to-kill-accidental-callback-cycles">
            Using Immortality to Kill Accidental Callback Cycles<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>22 Oct 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post7391_cancellation-tokens-and-collapsing-futures-for-objective-c">
            Cancellation Tokens (and Collapsing Futures) for Objective-C<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>15 Oct 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post7254_visualizing-the-eigenvectors-of-a-rotation">
            Visualizing the Eigenvectors of a Rotation<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>08 Oct 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post7149_collapsing-futures-in-objective-c">
            Collapsing Futures in Objective-C<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>01 Oct 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post7052_bug-hunting-1-garbled-audio-from-end-to-end">
            Bug Hunting #1: Garbled Audio from End to End<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>24 Sep 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post6871_impractical-experiments-1-representing-numbers-as-polynomials">
            Impractical Experiments #1: Representing Numbers as Polynomials<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>17 Sep 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post6536_implementing-quantum-pseudo-telepathy">
            Implementing Quantum Pseudo-Telepathy<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>09 Sep 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post6422_turn-on-your-damn-warnings">
            Turn On Your Damn Warnings<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>03 Sep 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post5953_big-o-made-trivial">
            Big-O Made Trivial<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>02 Sep 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post5268_unfathomable-bugs-7-the-broken-oven">
            Unfathomable Bugs #7: The Broken Oven<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>27 Aug 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post5623_solomonoffs-mad-scientist">
            Solomonoff&#8217;s Mad Scientist<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>26 Aug 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post5753_yearly-blogging-roundup-1">
            Yearly Blogging Roundup #1<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>20 Aug 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post5485_what-isnt-a-monad">
            What isn&#8217;t a Monad<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>13 Aug 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post5365_searching-a-sorted-matrix-faster">
            Searching a Sorted Matrix Faster<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>06 Aug 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post5273_how-to-read-nested-ternary-operators">
            How to Read Nested Ternary Operators<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>30 Jul 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post5096_my-bug-my-bad-4-reading-concurrently">
            My Bug, My Bad #4: Reading Concurrently<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>23 Jul 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post5018_whole-api-testing-with-reflection">
            Whole API Testing with Reflection<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>16 Jul 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post4708_optimizing-a-parser-combinator-into-a-memcpy">
            Optimizing a Parser Combinator into a memcpy<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>09 Jul 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post4872_dont-treat-paths-like-strings">
            Don&#8217;t Treat Paths Like Strings<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>02 Jul 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post4706_breaking-a-toy-hash-function">
            <strong>
              Breaking a Toy Hash Function<img src="/assets/wikimedia_external_link.png"/>
            </strong>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>25 Jun 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post4425_counting-iterators-lazily">
            Counting Iterators Lazily<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>18 Jun 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post4428_unfathomable-bugs-6-pretend-precision">
            Unfathomable Bugs #6: Pretend Precision<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>11 Jun 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post4281_my-bug-my-bad-3-accidentally-attacking-warcraft-3">
            My Bug, My Bad #3: Accidentally Attacking WarCraft 3<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>04 Jun 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post4130_collapsing-types-vs-monads-followup">
            Collapsing Types vs Monads (followup)<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>28 May 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post4008_collapsing-futures-easy-to-use-hard-to-represent">
            Collapsing Futures: Easy to Use, Hard to Represent<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>22 May 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post3858_eventual-exceptions-vs-programming-in-a-minimal-functional-style">
            Eventual Exceptions vs Programming in a Minimal Functional Style<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>14 May 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post3769_the-mystery-of-flunf">
            The Mystery of Flunf<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>07 May 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post3724_explain-it-like-im-five-the-socialist-millionaire-problem-and-secure-multi-party-computation">
            Explain it like I&#8217;m Five: The Socialist Millionaire Problem and Secure Multi-Party Computation<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>02 May 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post3631_computer-science-blows-my-mind">
            Computer Science Blows My Mind<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>23 Apr 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post3573_transmuting-dice-conserving-entropy">
            Transmuting Dice, Conserving Entropy<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>16 Apr 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post3516_rule-of-thumb-ask-for-the-clock">
            Rule of Thumb: Ask for the Clock<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>09 Apr 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post3477_rule-of-thumb-use-purposefully-weakened-methods">
            Rule of Thumb: Use Purposefully Weakened Methods<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>02 Apr 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post3376_rule-of-thumb-preconditions-should-be-checked-explicitly">
            Rule of thumb: Preconditions Should be Checked Explicitly<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>26 Mar 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post3280_intersecting-linked-lists-faster">
            Intersecting Linked Lists Faster<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>19 Mar 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post3044_my-bug-my-bad-2-sunk-by-float">
            My Bug, My Bad #2: Sunk by Float<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>12 Mar 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post2852_repeat-yourself-differently">
            Repeat Yourself Differently<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>05 Mar 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post2644_grovers-quantum-search-algorithm">
            Grover&#8217;s Quantum Search Algorithm<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>26 Feb 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post2766_followup-to-non-nullable-types-vs-c">
            Followup to Non-Nullable Types vs C#<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>19 Feb 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post2540_optimizing-just-in-time-with-expression-trees">
            Optimizing Just in Time with Expression Trees<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>12 Feb 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post2353_when-one-way-latency-doesnt-matter">
            <strong>
              When One-Way Latency Doesn&#8217;t Matter<img src="/assets/wikimedia_external_link.png"/>
            </strong>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>05 Feb 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post2194_determining-exactly-ifwhenwhere-a-moving-line-intersected-a-moving-point">
            Determining exactly if/when/where a moving line intersected a moving point<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>29 Jan 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post2061_emulating-actors-in-c-with-asyncawait">
            Emulating Actors in C# with Async/Await<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>22 Jan 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post2096_making-an-immutable-queue-with-guaranteed-constant-time-operations">
            Making an immutable queue with guaranteed constant time operations<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>15 Jan 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post399_improving-checked-exceptions">
            Improving Checked Exceptions<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>08 Jan 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post1941_perishable-collections-the-benefits-of-removal-by-lifetime">
            Perishable Collections: The Benefits of Removal-by-Lifetime<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>01 Jan 2013</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post1823_decoupling-shared-control">
            Decoupling shared control<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <h2>2012</h2>

        <li><table><col width="96px" /><tr><td>
          <span>25 Dec 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post1694_decoupling-inlined-ui-code">
            Decoupling inlined UI code<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>18 Dec 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post1585_linq-to-collections-beyond-ienumerablet">
            Linq to Collections: Beyond IEnumerable&lt;T&gt;<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>11 Dec 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post1295_publish-your-net-library-as-a-nuget-package">
            Publish your .Net library as a NuGet package<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>04 Dec 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post1130_when-null-is-not-enough-an-option-type-for-c">
            When null is not enough: an option type for C#<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>30 Nov 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post1473_unfathomable-bugs-5-readonly-or-not">
            Unfathomable Bugs #5: Readonly or not<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>27 Nov 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post1080_my-bug-my-bad-1-fractal-spheres">
            My Bug, My Bad #1: Fractal Spheres<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>20 Nov 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post1007_working-around-the-brittle-ui-virtualization-in-windows-8">
            Working around the brittle UI Virtualization in Windows 8<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>13 Nov 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post938_encapsulating-angles">
            Encapsulating Angles<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>06 Nov 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post925_unfathomable-bugs-4-keys-that-arent">
            Unfathomable Bugs #4: Keys that aren&#8217;t<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>30 Oct 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post867_how-would-i-even-use-a-monad-in-c">
            How would I even use a monad (in C#)?<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>23 Oct 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post822_useful-methods-1-observable-wheneach">
            Useful/Interesting Methods #1: Observable.WhenEach<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>16 Oct 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post818_unfathomable-bugs-3-stringing-you-along">
            Unfathomable Bugs #3: Stringing you along<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>09 Oct 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post774_anonymous-implementation-classes-a-design-pattern-for-c">
            Anonymous Implementation Classes &#8211; A Design Pattern for C#<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>02 Oct 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post532_tasks-for-action-script-3">
            Tasks for ActionScript 3 &#8211; Improving on Event-Driven Programming<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>24 Sep 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post330_non-nullable-types-vs-c-fixing-the-billion-dollar-mistake">
            <strong>
              Non-Nullable Types vs C#: Fixing the Billion Dollar Mistake<img src="/assets/wikimedia_external_link.png"/>
            </strong>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>17 Sep 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post384_unfathomable-bugs-2-slashing-out">
            Unfathomable Bugs #2: Slashing Out<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>10 Sep 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post341_abusing-phantom-types-to-encode-list-lengths-into-their-type">
            Abusing &#8220;Phantom Types&#8221; to Encode List Lengths Into Their Type<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>06 Sep 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post261_constructive-criticism-of-the-reactive-extensions-api">
            Constructive Criticism of the Reactive Extensions API<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>29 Aug 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post157_unfathomable-bugs-1-you-can-have-things-you-can-have-things-in-things-you-can-have">
            Unfathomable Bugs #1: You can have things! You can have things IN things! You can have &#8230;<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>05 Jun 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post60_the-visual-studio-goes-away">
            The Visual Studio goes away<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>

        <li><table><col width="96px" /><tr><td>
          <span>14 May 2012</span> &raquo;</td><td>
          <a href="http://twistedoakstudios.com/blog/Post57_nets-time-traveling-stopwatch">
            .Net&#8217;s time traveling StopWatch<img src="/assets/wikimedia_external_link.png"/>
          </a>
        </td></tr></table></li>
    
  </ul>
</div>
