<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- RSS autodiscovery -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

    <!-- Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-48771413-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <style>
      #site_banner {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="site">
      <div class="header">
        <a href="/"><img src="/assets/banner.png" alt="{{ site.name }}" id="site_banner"/></a>
      </div>

      {{ content }}

      <div class="footer">
        <div class="contact">
          <p>
            Craig Gidney<br />
            Hobbyist computer scientist, professional software developer.<br />
            email: [my_first_name].[my_last_name] at gmail<br />
            <a href="https://github.com/strilanc">github: @strilanc</a><br />
            <a href="https://twitter.com/craiggidney">twitter: @craiggidney</a><br />
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
