---
layout: default
---
<h1 class="post_title">{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<noscript>
  <font color=red>
    <hr>
    <strong>Warning</strong>: <strong>javascript</strong> disabled. Some content won't render correctly.<br/>
    <br/>

    For noscript users such as myself:<br/>
    <ul>
      <li><strong>strilanc.com</strong>: This site.
      <li><strong>cdn.mathjax.org</strong>: MathJax. Renders formulae. Most posts look awful without it. $e^{\tau i} = 1$
      <li><strong>ajax.googleapis.com</strong>: JQuery. A few posts will have non-working example widgets without it.
    </ul>
    There's also google-analytics.com, but all it does is make numbers you can't see go up so I can feel happy inside. There's no need to allow it.
    <hr>
  </font>
  <br/>
</noscript>

<div class="post">
{{ content }}
</div>
